body {
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  font-weight: 300;
  background: #f5f6f7;
  width: 100%;
  height: 100%;
  margin: 0;
}

.login-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.login-form {
  background-color: #ffffff;
  height: auto;
  color: black;
  text-align: center;
  padding: 10px;
  padding-top: 30px;
  border-radius: 5px;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.banner {
  width: 30%;
}
.banner h1 {
  font-size: 3rem;
  margin-bottom: 15px;
  color: #079a98;
}
.banner p {
  font-size: 2rem;
  margin-top: 0px;
}

.login-form input {
  width: 90%;
  height: 25px;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
  border: 0.1px solid rgb(181, 181, 181);
  border-radius: 5px;
}
.login-form button {
  width: 90%;
  background-color: #079a98;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  border: 0px;
}
.login-form hr {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 0px;
}
.login-form a {
  text-decoration: none;
  color: #079a98;
  font-weight: bold;
}

.register-form {
  height: 60vh;
}

.nav-bar {
  margin: 0;
  padding: 0;
  width: 25%; /* Sidebar width */
  background-color: #f1f1f1;
  height: 100%; /* Full height */
  position: fixed; /* Fixed positioning */
  overflow: auto; /* Scroll if needed */
}

.content {
  margin-left: 25%; /* Push content to the right of the navbar */
  padding: 20px; /* Add some padding for better spacing */
}

.profile-details {
  background: #ffffff; /* White background for contrast */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.greeting {
  margin-right: 20px;
  margin-left: auto;
  float: right;
}
.nav-bar h1 {
  padding-left: 20px;
  color: #079a98;
}
.nav-bar ul {
  list-style-type: none;
  padding-left: 0px;
}

.nav-bar li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
.nav-bar li a:hover {
  background-color: #555;
  color: white;
}

.nav-bar .active {
  background-color: #079a98;
  color: white;
}

.greeting {
  margin-right: 20px;
  margin-left: auto;
  float: right;
}
